{% extends "moodle/base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">My Profile</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            <dl class="row mb-0">
                <dt class="col-sm-3">Name</dt><dd class="col-sm-9">{{ mentee.full_name }}</dd>
                <dt class="col-sm-3">Email</dt><dd class="col-sm-9">{{ mentee.email }}</dd>
                <dt class="col-sm-3">Username</dt><dd class="col-sm-9">{{ mentee.username }}</dd>
                <dt class="col-sm-3">Portal</dt><dd class="col-sm-9">Moodle · Financial Analyst Mentorship</dd>
            </dl>
        </div>
    </div>
</div>
{% endblock %}
